RewriteEngine On

RewriteRule ^accueil$ controllers/homeControllers.php
RewriteRule ^nouveau-patient$ controllers/addPatientsController.php
RewriteRule ^patients controllers/listPatientsController.php
RewriteRule ^profil controllers/profilPatientsController.php
RewriteRule ^nouveau-rendez-vous$ controllers/addAppointementController.php