RewriteEngine On

RewriteRule ^accueil$ controllers/homeControllers.php
RewriteRule ^ajout$ controllers/addPatientsController.php
RewriteRule ^patients controllers/listPatientsController.php
RewriteRule ^profil controllers/profilPatientsController.php
RewriteRule ^rendez_vous$ controllers/addAppointementController.php