/* Settings du Main px*/

main {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.hidden {
    display: none;
}

/* Settings container Recap */

.containerRecap {
    width: 95%;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

/* Settings container Subject */

.containerSubject {
    width: 100%;
    height: 550px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.income {
    background-color: var(--primary40);
}

.containerGraph {
    width: 95%;
    height: calc(100% - 50px);
    background-color: var(--hr);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients {
    background-color: var(--primary60);
    overflow-y: scroll;
}

.employees {
    background-color: var(--primary80);
    overflow-y: scroll;
}

.containerTitle {
    text-align: center;
    height: 50px;
}

.containerContent {
    width: 100%;
    height: auto;
    padding: .5rem;
}

.listingRecap {
    width: 100%;
    height: 70px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: .5rem;
    background-color: var(--hr);
    padding: 0rem .5rem;
}

.containerInformations {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.containerPicture {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--black0);
    margin-right: .5rem;
}

.containerPicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.containerMore {
    height: 100%;
}

.containerMore a i {
    font-size: 1.25rem;
    color: var(--black100);
}

/* Media queries for landscape tablet */
@media screen and (min-width: 1000px) {
    main {
        height: 100%;
        width: calc(100vw - 200px);
        overflow: hidden;
        padding: 0rem .5rem;
        display: flex;
        align-items: center;
    }
    
    .containerRecap {
        width: 100%;
        height: 49%;
        justify-content: space-between;
    }

    .containerSubject {
        height: 100%;
    }

    .income {
        width: 100%;
        height: 100%;
    }

    .clients , .employees {
        width: 49.5%;
        height: 100%;
    }
}

/* Media queries in desktop */
@media screen and (min-width: 1200px) {
    main {
        width: calc(100vw - 425px);
        overflow: hidden;
        padding: 0rem .5rem;
    }
}