/* Main settings */

main {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.containerSubject {
    width: 95%;
    height: 700px;
    overflow: hidden;
    background-color: var(--primary60);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.containerTitle {
    height: 75px;
    position: relative;
}

.formContentTitle .containerAdd, .containerTitle .containerAdd {
    position: absolute;
    right: 15px;
    width: 30px;
    height: 30px;
    background-color: var(--black0);
    border-radius: 5px;
    cursor: pointer;
}

.formContentTitle .containerAdd {
    background-color: var(--primary80);
}

.formContentTitle .containerAdd i{
    font-size: 1.25rem;
    color: var(--black0);
}

.containerTitle .containerAdd i {
    font-size: 1.25rem;
    color: var(--primary60);
}

.containerTitle h3 {
    color: var(--black0);
}

.containerContent {
    width: 100%;
    height: calc(100% - 75px);
    padding: .5rem;
    overflow-y: scroll;
}

.showResult {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
    transition: all .3s ease;
    z-index: 5;
}

.showResult p {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    color: var(--black0);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.goodResult {
    background-color: var(--succes80);
}

.badResult {
    background-color: var(--error80);
}

.listingRecap {
    width: 100%;
    height: 70px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: .5rem;
    background-color: var(--hr);
    padding: 0rem .5rem;
}

.containerInformations {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.containerPicture {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--black0);
    margin-right: .5rem;
}

.containerPicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.containerMore {
    height: 100%;
}

.containerMore a i {
    font-size: 1.25rem;
    color: var(--black100);
}


@media screen and (min-width: 1000px) {
    main {
        width: calc(100vw - 200px);
        height: 100vh;
    }

    .containerSubject {
        width: 98%;
        height: 98%;
    }
}

@media screen and (min-width: 1200px) {
    main {
        width: calc(100vw - 475px);
        height: 100vh;
    }
}

/* Modal ajout client */

/* Form content */

.formContent {
    position: absolute;
    height: 400px;
    width: 350px;
    border-radius: 10px;
    background-color: var(--black0);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    transition: all .3s ease;
}

/* Title */

.formContentTitle {
    height: 75px;
}

.formContentTitle h3 {
    text-align: center;
    color: var(--primary80);
}

/* Form */

form {
    height: calc(100% - 75px);
}

/* Input des forms */

.formInput {
    height: calc(100% - 50px);
}

.formInput input, select {
    width: 90%;
    padding: .70rem .5em;
    border-radius: 5px;
    border: 2px solid var(--black40);
    color: var(--black100);
}

.formInput input::placeholder, select::placeholder {
    color: var(--black80);
}

.formInput input:focus, select {
    outline: none;
    border: 2px solid var(--primary80);
}

.formInput input[type="datetime-local"] {
    width: 100%;
}

.formName {
    width: 90%;
    margin-bottom: .25rem;
}

.formName input:first-child {
    width: 99%;
}

.formName select:first-child {
    width: 99%;
}

#id {
    width: 100%;
}

.formName .errorMessage {
    width: 99%;
    margin: 0;
    text-align: center;
}

/* Submit button */

.registerButton {
    height: 50px;
}

.registerButton button {
    padding: .5rem 1rem;
    text-align: center;
    background: var(--primary80);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    border: 0;
    color: var(--black0);
}

.pageActive {
    font-size: 1.25rem;
    color: var(--black0);
    margin: 0rem 1rem;
}

.pageBefore {
    font-size: 1rem;
    color: var(--black40);
}

.hidden {
    display: none;
}


@media screen and (min-width: 1000px) {
    .containerSearch {
        display: block;
        position: absolute;
        top: 15px;
        left: 15px;
        border-radius: 5px;
        width: 300px;
        height: 30px;
    }
    
    .containerSearch input {
        width: 200px;
        padding: .70rem .5em;
        border-radius: 5px;
        border: 2px solid var(--black40);
        color: var(--black100);
    }
    
    .containerSearch input::placeholder {
        color: var(--black80);
    }
    
    .containerSearch input:focus {
        outline: none;
        border: 2px solid var(--primary80);
    }
    
}

@media screen and (min-width: 1200px) {
    .containerSearch {
        display: block;
        position: absolute;
        top: 15px;
        left: 15px;
        border-radius: 5px;
        width: 300px;
        height: 30px;
    }
    
    .containerSearch input {
        width: 200px;
        padding: .70rem .5em;
        border-radius: 5px;
        border: 2px solid var(--black40);
        color: var(--black100);
    }
    
    .containerSearch input::placeholder {
        color: var(--black80);
    }
    
    .containerSearch input:focus {
        outline: none;
        border: 2px solid var(--primary80);
    }
    
}

