/*********************** ************************/
/**************** GLOBAL SETTINGS ***************/
/*********************** ************************/

:root {

    /* Primary Color */
    --background: linear-gradient(118.7deg, #D8D2FC 17.58%, #D8D2FC 17.58%, #D8D2FC 17.59%, #FDE2E0 41.89%, #E6E4EA 68%, #E0E9F4 103.34%, rgba(230, 225, 232, 0) 103.35%, #E0E9F4 103.35%);
    --container: #E5E5E5;

    /* Base Color */
    --titleColor: #271E4A;
    --textColor: rgba(39, 30, 74, 0.8);

    /* Accent Color */
    --validationColor: #79CFA6;
    --deleteColor: #FF706F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Kanit', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

/*********************** ************************/
/****************** FONT SETTINGS ***************/
/*********************** ************************/

h1 {
    font-size: 3rem;
    font-weight: 500;
    color: var(--titleColor);
}

h2 {
    font-size: 1.75rem;
    font-weight: 400;
    color: var(--titleColor);
}

p {
    font-size: 1rem;
    font-weight: 300;
    color: var(--textColor);   
}

a {
    
}

/*********************** ************************/
/***************** MARGIN PADDING ***************/
/*********************** ************************/


/*********************** ************************/
/****************** FLEX SETTINGS ***************/
/*********************** ************************/

.flexCenterVertical {
    display: flex;
    align-items: center;
}

.flexCenterHorizontal {
    display: flex;
    justify-content: center;
}

.flexCenterColumn {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flexCenterCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexCenterCenterColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flexCenterAround {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flexCenterBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}